@font-face {
   font-family: 'myfont';
   /* src: url('../font/mplus-1p-medium.otf'); */
   src: url('../font/PixelMplus10-Regular.ttf');
   }

body{
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: black;
   /* color: cornflowerblue; */
   color: rgb(81, 255, 0);
   font-family:"myfont";
   font-size: 1.4rem;
   line-height:2em;
 }

 .wrapper{
    width: 95%;
    /* height: 100rem; */
      display: inline-block;
      text-align: center;
 }

 select{
   width: 20rem;
   font-family:myfont;
   font-size: 2rem;
   padding: 5px;
   background:rgb(81, 255, 0);
   outline: none; /* クリックしたときに表示される枠線を消す */
   -webkit-appearance: none;
 }

 button{
    width: 20rem;
    /* background:cornflowerblue; */
    background:rgb(0, 0, 0);
    font-family:myfont;
    font-size: 2rem;
    color: rgb(81, 255, 0);
    padding: 5px;
    border-style: solid; border-color:rgb(81, 255, 0);
 }

 #answer{
   font-size: 4rem;
   padding:10px;
 }

 mark{
    font-size:2.5rem;
    color: rgb(81, 255, 0);
 }

 .br::before {
	content: "\A" ;
	white-space: pre ;
}

em{
   font-size: 1.6rem;
}